<div class="col animated fadeIn">
  <div class="card h-100">
    <img [src]="heroe.img" class="card-img-top" [alt]="heroe.nombre">
    <div class="card-body">
      <h5 class="card-title"> {{ heroe.nombre }} </h5>
      <p class="card-text">{{ heroe.bio }}</p>
      <p class="card-text"><small class="text-muted">{{ heroe.aparicion }}</small></p>
      <div class="d-grid">
      </div>
    </div>
    <div class="card-footer d-grid">
      <button  (click)="verHeroe()" class="btn btn-outline-primary">ver mas...</button>
    </div>
  </div>
</div>
